
 <div ng-controller="extractCtrl" >

<div >
   <!--warning - no active customer selected-->
  <div ng-if="activeCustomerAccount == ''">
       <p>This function previews migration ready data for a single account. Please select an account.</p><p> <button class="btn btn-success" ui-sref="scope">find account ...</button></p>
  </div>

 <!--only show if there is an active customer-->
 <div ng-if="activeCustomerAccount != ''">

  <!--Page title and link to mrcoffee-->
  <div class="navbar navbar-inverse">
    <div class="nav navbar-nav">
      <div class="navbar-brand">{{activeCustomerAccount}}</div>
      <ul class="nav navbar-nav">
        <li><a href="" ng-click="redirectToMrCoffee('{{activeCustomerAccount}}')">Mr Coffee</a></li>
        <li><a href="" ui-sref="scope">change account</a></li>
      </ul>
    </div>
  </div>
 <!--Tabs-->
  <tabset>
    
    <!--company-->
    <tab heading="company">
        <br>
        <div ng-include="'/views/extract-company.html'"></div>
    </tab>

    <!--domain-->
    <tab heading="domain">
        <br>
        <div ng-include="'/views/extract-domain.html'"></div>
    </tab>

    <!--domain billing lines-->
    <tab heading="domain billing lines">
        <br>
        <div ng-include="'/views/extract-domain-billing-lines.html'"></div>
    </tab>

    <!--users-->
    <tab heading="users">
        <br>
        <div ng-include="'/views/extract-users.html'"></div>
    </tab>
  </tabset>

</div>
 </div>
</div>
<!--
<tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">-->

<!--
  <div ng-show="activeCustomer" class="ng-hide">
   <ul class="nav navbar-nav">
    <li>{{activeCustomerAccount}}</li>
    <li><a ui-sref="company">company</a></li>
    <li><a ui-sref="domain">domain</a></li>
   </ul>       
  </div>
 </div>
-->
