  
  <!--Scope-->
  <h4>Scope</h4>
  <p >Who is in the next migration batch?<br>
   Current scope is 'Batch 1 - Telstra'<br>
   The scope has considered all filters and these customers will be issued for import to the console.<br>
   To view the customer scope <a ui-sref="scope" >click here</a></p>

  <div class="dark-divider"></div>

  <!--Filters-->
  <h4>Filters</h4>
  <div class="row" >
    <div class="col-lg-6">
    
      <!--Exclusions-->
      <h4><div class="label label-default"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Exclusions</div></h4>
      <div>Customer will be completely removed from the scope. Overrides all other filters.<br>
      Reasons include
      <ul>
        <li>Domain must exist in spin</li>
        <li>Invalid domain expiry</li>
        <li>Bad Domain</li>
        <li>Siteshop - service portal does no cater for his product yet</li>
      </ul>
      To view  <a ui-sref="exclusiona" >click here</a></div>
    </div>
      
    <div class="col-lg-6">
    
      <!--Ignore Products-->
      <h4><div class="label label-default"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Ignore Products</div></h4>
      <p>Although the customer may be migrated, assets linked to these products should be ignored and not included in migration data.<br>

    </div>
  </div>

  

  
